html { font-size: 22px ;}
            body { background-color: #333; color: whitesmoke;}
            h1{ text-emphasis-color: #888522;}
            a:hover, a:active { color: #666; }

            <!-- table, tr, th, td, caption
            { border: 1px solid #eee; 
            font-family:'Courier New', Courier, monospace
            border-collapse:collapse;
        padding: 0.5rem}-->